.orange {
    border-color: #f79020;
    border-width: 2px;
    background-color: transparent;
    color: #f79020;
    font-size: 35px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: .5em;
}


.navbar {
  color: white;
}
#logo {
  animation-duration: 3s;
  animation-delay: 2s;
}
