#title {
  padding-top: 2em;
  padding-bottom: .5;
}
.jumbotron {
  padding-top: 1em;
  padding-bottom: .5em;
  background-repeat: no-repeat;
  background-color: white;
  font-family: 'Raleway', cursive;
  margin-bottom: 0;
}
.input-group {
  padding-bottom: 1em;
}
#acorn {
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
