.orange {
  border-color: #f79020;
  border-width: 2px;
  background-color: transparent;
  color: #f79020;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

#allmodals{
  margin-top: 0;
  align-content: center;
  font-family: 'Raleway', sans-serif
}
#title {
  padding-top: 0!important;

}
