.orange {
  border-color: #f79020;
  border-width: 2px;
  background-color: transparent;
  color: #f79020;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
}
.modalheader {
  font-family: 'Roboto' sans-serif;
  font-size: 14pt;
}

#modals{
  padding-top: 1em;
  align-content: center;
}
#title {
  padding-top: 0;
  font-family: 'Roboto' sans-serif;
  font-size: 14pt;
}
