.sms-form {
  font-family: inherit;
  text-align: left;
  padding: 1em;
}
.sms-form label {
  display: block;
  font-family: 'Raleway',sans-serif!important;
}
.sms-form input,
.sms-form textarea {
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway',sans-serif!important;
}
.sms-form div {
  margin-bottom: 0.5em;
}
.sms-form button {
  font-size: 1em;
  width: 100%;
}
.sms-form.error {
  outline: 2px solid #f00;
}
#header {
  font-family: 'Raleway',sans-serif!important;
}
#orange {
  border-color: #f79020;
  border-width: 2px;
  background-color: transparent;
  color: #f79020;
  font-family: 'Raleway', sans-serif!important;
}
